h2 {
  text-align: center;
}

#resultadoxp {
  display: inline-block;
  border: 2px solid black;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: white;
}

button {
    display: block;       /* centraliza botão */
    margin: 20px auto;    /* distância do topo + centralização horizontal */
    text-align: center;   /* centraliza texto dentro do botão */
    padding: 10px 20px;
}
